.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
yarn-debug.log*
yarn-error.log*
thumbs.db
!.gitkeep
commercial-cook-machine-win32-x64/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln